services:
  web:
    image: ghcr.io/basecamp/fizzy:main
    restart: unless-stopped
    platform: linux/amd64
    ports:
      - "80:80"
      - "443:443"
    environment:
      - SECRET_KEY_BASE=abcdefabcdef
      - TLS_DOMAIN=fizzy.example.com
      - BASE_URL=https://fizzy.redleg.dev
      - MAILER_FROM_ADDRESS=fizzy@redleg.dev
      - SMTP_ADDRESS=mailpit.redleg.dev
      - SMTP_USERNAME=user
      - SMTP_PASSWORD=pass
      - VAPID_PRIVATE_KEY=myvapidprivatekey
      - VAPID_PUBLIC_KEY=myvapidpublickey
    volumes:
      - fizzy:/rails/storage

volumes:
  fizzy: